* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightcyan;
}

#app {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 20px;
	padding: 20px;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.note {
	padding: 10px;
	font-size: large;
	border: none;
	/* resize: none; */
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.add-note {
	width: 70px;
	height: 70px;
	border: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 40px;
	background-color: plum;
	color: whitesmoke;
	scroll-snap-align: top;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}
